<!-- snippets/animated-button.liquid -->
<a href="{{ section.settings.button_link }}" class="animated-button">
  {% comment %} {{ section.settings.button_text }}
   {% endcomment %}
   hello
</a>
