<html>
    <head>
        <link rel="stylesheet" href="{{ 'banner.css' | asset_url }}">
    </head>
    <body>
        <div class="banner-buttons">
            {% render 'animated-button', section: {settings: {button_text: section.settings.button_text_1, button_link: section.settings.button_link_1 }} %}
            {% render 'animated-button', section: {settings: {button_text: section.settings.button_text_2, button_link: section.settings.button_link_2 }} %}
        </div>
    </body>
</html>



