<!-- sections/banner.liquid -->
<div class="banner-buttons">
I am here
  {% render 'button', section: {settings: {button_text: section.settings.button_text_1, button_link: section.settings.button_link_1 }} %}
  {% comment %} {% render 'button', section: {settings: {button_text: section.settings.button_text_2, button_link: section.settings.button_link_2 }} %} {% endcomment %}
</div>

