<div class="banner-buttons">
  <a href="#" class="animated-button">
    {{section.settings.button_text_1}}
  </a>
  {{section.settings.button_text_2}}
</div>

{% schema %}
{
  "name": "Banner with Buttons",
  "settings": [
    {
      "type": "text",
      "id": "button_text_1",
      "label": "Button Text 1",
      "default": "Hello"
    },
    {
      "type": "text",
      "id": "button_text_2",
      "label": "Button Text 2",
      "default": "Hello 2"
    }
  ],
  "presets": [
    {
      "name": "Banner with Buttons",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
