<!-- sections/banner.liquid -->
<div class="banner-buttons">
  {% render 'button', button_text: "Hey", button_link: "#" %}
  {% comment %} {% render 'button', button_text: section.settings.button_text_2, button_link: section.settings.button_link_2 %} {% endcomment %}
</div>
