<html>
    <head>
        <link rel="stylesheet" href="{{ 'banner.css' | asset_url }}">
    </head>
    <body>
        <div class="banner-buttons">
            {% render 'button', button_text: 'Button Text 1', button_link: '#' %}
            {% render 'button', button_text: 'Button Text 2', button_link: '#' %}
        </div>
    </body>
</html>
