<!DOCTYPE html>
<html>
<head>
  <!-- Other head elements -->
  <link rel="stylesheet" href="{{ 'banner.css' | asset_url }}">
</head>
<body>
  <!-- Body content -->
  {% section 'banner' %}
  <!-- More body content -->
</body>
</html>
